<h1>x</h1>
<div *ngIf="carEdit | async as car">
  <form class="container" #carForm="ngForm" (ngSubmit)="saveEditedCar(car.id,carForm.value)">
    <div class="md-form">
      <input mdbInput type="text" id="mark" class="form-control" name="mark" [(ngModel)]="car.mark">
      <label for="mark" class="">Mark</label>
    </div>
    <div class="md-form">
      <input mdbInput type="text" id="model" class="form-control" name="model" [(ngModel)]="car.model">
      <label for="model" class="">Model</label>
    </div>
    <div class="md-form">
      <input mdbInput type="text" id="color" class="form-control" name="color" [(ngModel)]="car.color">
      <label for="color" class="">Color</label>
    </div>
    <button type="submit" mdbBtn color="success" mdbWavesEffect>Save car</button>
  </form>
</div>
